---
import { SEO } from 'astro-seo';
import { ClientRouter } from 'astro:transitions';
import { UMAMI_WEBSITE_ID } from 'astro:env/client';
import '../styles/tailwind.css';
---

<!doctype html>
<html lang="en" class="h-full w-full" transition:animate="none">
  <head>
    <SEO
      title="Nonogram.pro"
      description="Nonogram.pro is an interactive and user-friendly platform dedicated to the art of nonograms, also known as Picross, Griddlers, or Hanjie puzzles"
      canonical={Astro.site?.toString().slice(0, -1)}
      extend={{
        meta: [
          { name: 'viewport', content: 'width=device-width, initial-scale=1.0' },
          { name: 'generator', content: Astro.generator }
        ]
      }}
      charset="UTF-8"
    />
    <script is:inline defer src="https://metrics.nonogram.pro/script.js" data-website-id="90eee5c6-1ee2-47b6-a58e-40db7218942d"></script>
    <ClientRouter fallback="animate" />
  </head>
  <body class="h-full w-full" transition:animate="fade">
    <slot />
  </body>
</html>
